version: '3.8'

services:
  dashboard:
    build: 
      context: ./web_monitor
    container_name: home_ai_dashboard
    depends_on:
      - ollama
    restart: always
    ports:
      - "8050:5000" # Maps Jetson 8050 -> Container 5000
    volumes:
      - /var/run/dbus:/var/run/dbus  # Connects container to host system bus
      - /var/run/docker.sock:/var/run/docker.sock # Allows container to interact with host Docker daemon
      - /run/jtop.sock:/run/jtop.sock # Allows jtop library to communicate with host jtop service
      - /home/abrooski/.ssh/abrooski_jetson:/root/.ssh/abrooski_jetson:ro # Mount SSH private key
      - /usr/bin/tegrastats:/usr/bin/tegrastats # Adding tegrastats access
      - /sys:/sys
      - /dev:/dev
    environment: # New section for environment variables
      - SSH_USERNAME=abrooski
      - SSH_PRIVATE_KEY_PATH=/root/.ssh/abrooski_jetson
    runtime: nvidia
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
  
  ollama:
      image: ollama/ollama:latest
      container_name: ollama_jetson
      restart: always
      runtime: nvidia
      ports:
        - "11434:11434"
      volumes:
        - ~/.ollama:/root/.ollama
      environment:
        - OLLAMA_KEEP_ALIVE=-1  # Keeps the model loaded indefinitely
      deploy:
        resources:
          reservations:
            devices:
              - driver: nvidia
                count: all
                capabilities: [gpu]